/* Dit is een oefen opdracht van het Winc Academy programma. In deze CSS is geen rekening gehouden met cascade, specificity, en inheritance */

/* body {
  color: darkred;
}

.border {
  border: 1px dotted darkorange;
}

.center-title {
  background-color: rgb(126, 184, 255);
}

a {
  font-family: "Balsamiq Sans", cursive;
  font-size: 0.8em;
}

p {
  margin: 0 auto;
  width: 500px;
}

ol {
  margin: 10px;
}

header {
  border: 8px groove red;
  margin: 50px 100px 50px 100px;
  padding: 30px 30px 30px 30px;
}

main {
  border: 4px double blue;
  margin: 50px 100px;
  padding: 10px;
}

footer {
  border: solid yellow;
  margin: 50px 100px;
  padding: 5px;
}

ul.nav {
  list-style-type: none;
}

.nav li {
  display: inline;
} */

.blogpost {
  width: 300px;
  border: 1px solid black;
}
.blogpost-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-wrap: wrap;
}

/* @media screen and (min-width: 320px) {
  html {
    box-sizing: border-box;
  }
  h1 {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  h1.center-title {
    background-color: blue;
    color: white;
    font-size: 10px;
    line-height: 40px;
  }
} */
